<div class="tab"  >
  <div class="row" style="width: 100%;margin-right: 100px;margin-left: 0px;">
    <div class="col-sm-6 tableau" style="padding: 0px;margin: auto;    width: 100%;">
      <div class="card">
        <div class="table-responsive" style="background-color: white;">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Code CIP7</th>
              <th scope="col">Libellé</th>
              <th scope="col">Prix(€)</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td class="text-nowrap align-middle">65165410</td>
              <td class="text-nowrap align-middle">Doliprane</td>
              <td class="text-nowrap align-middle">35165</td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
