<div *ngIf="homeService.panier.length === 0" style="text-align: center">
  <img src="../../assets/smiley.png" width="20%">
  <h4>Votre panier est vide</h4>
</div>

<div *ngIf="homeService.panier.length !== 0" style="text-align: center">
  <span>
    <p style="font-weight: bold; font-size: xx-large">Mon panier</p>
    <p *ngIf="homeService.panier.length > 1" style="font-style: italic; font-size: medium">{{ homeService.panier.length }} articles</p>
    <p *ngIf="homeService.panier.length === 1" style="font-style: italic; font-size: medium">{{ homeService.panier.length }} article</p>
  </span>
  <br><br>
  <mat-card class="example-card" *ngFor="let item of homeService.panier">
    <mat-card-header *ngFor="let medicament of item.presentation.medicaments">
      <mat-card-title style="font-weight: bold; text-align: center">{{ medicament.denomination }}</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <div style="display: flex; justify-content: space-around;">
        <div>
          <p>Prix unitaire</p>
          <p>{{ item.presentation.prix }} €</p>
        </div>
        <div>
          <p>Quantité</p>
          <p>{{ item.quantite }}</p>
        </div>
        <div>
          <p>Total</p>
          <p>{{ item.presentation.prix * item.quantite }} €</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <p style="font-weight: bold">Total {{ totalPrice.toFixed(2) }} €</p>

  <button mat-raised-button style="margin-bottom: 15px;" (click)="this.validerPanier()">Valider mon panier</button>
</div>

