<mat-card>
  <mat-card-header>
    <mat-card-title>Connexion</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form novalidate class="login-form" (ngSubmit)="onSubmit()" [formGroup]="form">

      <button type="submit" [disabled]="!form.valid" [ngStyle]="{ display: 'none' }">
        Valider le formulaire
      </button> <!-- Ce bouton sert quand on appuie sur le bouton entrée pour valider notre formulaire -->
      <mat-form-field>
        <mat-label>Email address</mat-label>
        <input type="email" matInput formControlName="email"/>
        <!--<mat-error *ngIf="form.get('username')!.hasError('admin')">
          Username must be "admin" in lowercase
        </mat-error>-->
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password"/>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <!--<button
      mat-raised-button
      color="success"
      (click)="onSubmit()"
      [disabled]="!form.valid"
    >-->
      <button mat-raised-button color="success">Connexion</button>
  </mat-card-actions>
</mat-card>
