<!-- <div *ngIf="show">
    <input type="number" [(ngModel)]="quantite" min="1"/> -->
<!-- <button type="button" (click)="addToCart(presentation, quantite)"><span class="material-icons">shopping_cart</span></button> -->
<!-- <div class="example-button-container">
  <button (click)="addToCart(presentation, quantite)" mat-stroked-button color="accent" aria-label="Example icon button with a plus one icon">
    <mat-icon>add_cart</mat-icon>
  </button>
</div> -->
<!-- <div class="bs-example">
  <div class="container">
      <div class="row">
          <div class="col-md-12 bg-light text-right">
              <button type="button" class="btn btn-warning ml-2">Save</button>
          </div>
      </div>
  </div>
</div>
</div> -->

<div *ngIf="show" class="input-group mb-3">
  <input type="number"  required min="1" [(ngModel)]="quantite" class="form-control" [formControl]="rateControl">
  <div class="input-group-append">
    <button [disabled]="quantite<1" (click)="addToCart(presentation, quantite)" class="btn btn-outline-secondary" type="button">Ajouter</button>
  </div>
</div>


 
