.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 7px;
  margin-top: 7px;
}

.example-full-width {
  width: 100%;
}

.example-input {
  max-width: 100%;
  width: 300px;
}
