<form class="example-form">
  <input type="text"
         placeholder="Cherchez une présentation"
         [formControl]="control"
         [matAutocomplete]="auto"
         class="example-input">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let street of filteredPresentation | async" [value]="street">
      {{street}}
    </mat-option>
  </mat-autocomplete>
</form>
<input type="button" id="searchbutton2" value="Rechercher" style="width: 10%;margin-right: 0px;margin-left: 3px">
