<mat-toolbar *ngIf="isLoggedIn" class="header"> <!-- ajouter ça après *ngIf="isLoggedIn"-->
  <img src="assets/gromedLogo.svg" routerLink="home" [style.cursor]="'pointer'" />
  <span class="flexeur"></span>
  <a href="/home" routerLink="home">Home </a>
  <button mat-icon-button href="/panier" routerLink="panier">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<app-login ></app-login>
<app-home *ngIf="isLoggedIn"></app-home>
<div *ngIf="isLoggedIn" class="container" > <!-- ajouter ça après *ngIf="isLoggedIn"-->

</div>
<footer class="footer">
  <span>© 2023 Gromed </span>
</footer>
