:host {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
}

.header {
  background-color: #38B6FF;
  color: white;
}

mat-toolbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

img {
  display: block;
  max-height: 70%;
}

a {
  color: white;
  font: 400 20px / 40px Roboto, "Helvetica Neue", sans-serif;
}

footer {
  background-color: #38B6FF;
  color: white;
  font: 300 15px / 22px Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
}

.container {
  flex: 1 1 100%;
}
