


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card-actions {
  justify-content: center !important;
  display: flex !important;
}

.flexeur {
  flex: 1 1 100%;
}
