<app-search-bar (denomEvent)="search($event)"></app-search-bar>



<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="pageChanged($event)"
               aria-label="Select page">
</mat-paginator>
<div>
<mat-card class="example-card" *ngFor="let pres of dataSource.content; let i = index">
  <mat-card-header *ngFor="let medicament of pres.medicaments">
    <mat-card-title>{{ medicament.denomination }}</mat-card-title>
    <mat-card-subtitle>{{ pres.codeCIP7 }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ pres.libelle }}</p>
    <p>{{ pres.prix }} €</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>+ D'INFOS</button>
    <button mat-icon-button>
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
</div>

<div class="card">


  <table class="table" width="100%" >
    <thead>
      <tr>
        <!-- <th scope="col">codeCIP7</th> -->
        <th scope="col">libelle</th>
        <th scope="col">médicaments</th>
        <th scope="col">prix</th>
        <th scope="col">quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pres of presentations; let i = index" >
        <!-- <td>{{ pres.codeCIP7}}</td> -->
        <td> {{ pres.libelle}}</td>
        <td *ngFor="let medicament of pres.medicaments"> {{ medicament.denomination }}</td>
        <td> {{ pres.prix }}</td>
        <!--<td><input type="number" [(ngModel)]="quantitesInputNumber[i]" min="1"/></td>-->
        <td>
          <!-- <button (click)="showClick(pres)"> -->
            
            <div *ngIf="!pres.showAdd" class="example-button-container">
              <button (click)="showClick(pres)" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"><mat-icon>menu</mat-icon></button>
            </div>
            <app-add-to-cart-button  [show]="pres.showAdd"  
                                     [presentation]="pres"
                                     (produitEvent)="addToCart($event)">

            </app-add-to-cart-button>


                 

        </td>

      </tr>
    </tbody>
  </table>
</div>


<!-- <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
<p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button> -->

