<mat-card class="example-card" >
  <img mat-card-image src="assets/1.png" height="50px">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest o
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="warn"><mat-icon>add_shopping_cart</mat-icon></button>
    <button mat-stroked-button color="primary">Détail</button>
  </mat-card-actions>
</mat-card>
